<div class="container">
    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item">
                <a href="#" class="nav-link px-3 text-dark">Features</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link px-3 text-dark">Memberships</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link px-3 text-dark">FAQs</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link px-3 text-dark">About</a>
            </li>
            <li class="nav-item">
                <a href="mailto:arpan.padhi.cse.2022@nist.edu?subject=contacting%20Skillers%20team&body=Hey%20Skillers%2C%0D%0AMy%20name%20is%20%5Bname%5D%2C%0D%0AI%20work%20or%20study%20in%20%5Bcollege%5D%2C%0D%0AI%20am%20Pursuing%20a%20degree%20of%20%5Bdegree%20name%5D%2C%0D%0AI%20wanted%20to%20contact%20because%20%5Breason%5D%2C%0D%0AHope%20we%20can%20get%20at%20the%20same%20page.%0D%0AThankyou%0D%0A" class="nav-link px-3 text-dark">Contact us</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link px-3 text-dark">Careers</a>
            </li>
        </ul>
        <div class="line-divider"></div>
        <p class="text-center text-dark">© 2023 SkillSkope, Inc</p>
    </footer>
</div>
