<div class="slideshow-container">
    <div class="mySlides">
        <img src="/static/pic1.jpg" alt="Image 1">
    </div>
    <div class="mySlides">
        <img src="/static/pic2.jpg" alt="Image 2">
    </div>
    
    <div class="mySlides">
        <img src="/static/pic4.jpg" alt="Image 3">
    </div>
    <div class="mySlides">
        <img src="/static/pic5.jpg" alt="Image 3">
    </div>
</div>
<script>
    let slideIndex = 0;
    showSlides();

    function showSlides() {
        let i;
        let slides = document.getElementsByClassName("mySlides");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) { slideIndex = 1 }
        slides[slideIndex - 1].style.display = "block";
        setTimeout(showSlides, 3000); // Change slides every 3 seconds (adjust the interval as needed)
    }
</script>
