<div class="border-box row" style="margin-bottom: 16px;">
    <div class="col-9"><div style="color: #141313; margin-bottom: 4px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" ><h4>  <div style="font-size: xx-large;"><b>Name: {{ project['title'] }}</b></div></h4></div>
    <div ><b>College:</b> {{ project['college'] }}</div>
    <div ><b>Skills Needed:</b> {{ project['skills'] }}</div>
    {% if 'salary' in project %}
    <div><b>salary:</b> {{project['salary']}} </div>
    <div><b>Responsibilities : </b>{{project['responsibilities']}}</div>
    {% endif %}</div>
    <div class="col-3"><a href="mailto:Arpan.padhi.cse.2022@nist.edu?subject=Application%20for%20{{project['title']}}&body=Hey%20Skillers%2C%0D%0AI%20am%20thrilled%20to%20apply%20for%20the%20position%20of%20{{project['title']}}%2C%0D%0AMy%20name%3A-%20%5Bname%5D%0D%0AMy%20linkedin%3A-%20%5BLinkedin%20Profile%5D%0D%0AMy%20github%3A-%20%5BGithub%20Profile%5D" type="button" class="btn btn-outline-primary" >Apply</a></div>
</div>